### Maven ###
.mvn/
target/
pom.xml.tag
pom.xml.versions
pom.xml.bak
release.properties
release-pom.xml

### IntelliJ ###
.idea/
*.iml
*.iws
*.ipr

### OS ###
.DS_Store
.vscode/

### Spring Boot ###
/src/main/resources/application.properties